*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bc-main: hsl(0, 0%, 100%);
    --bc-body: hsl(30, 38%, 92%);
    --bc-button: hsl(158, 36%, 37%);
    --bc-button-hover: hsl(158, 38%, 52%);
    --fc-titlecontent: hsl(228, 12%, 48%);
    --fc-nameprod: hsl(212, 21%, 14%);
    --fc-price-discounted:hsl(158, 36%, 37%);
    --fc-price-without-discounted:hsl(228, 12%, 48%);
    --fc-button: hsl(0, 0%, 100%);

    --fs-body: 1.4rem;

    font-size: 62.5%;

}

body{
    background-color: var(--bc-body);
    font-size: var(--fs-body);
    display: flex;
    justify-content: center;
     
}

main{
    
    background-color: var(--bc-main) ;
    margin: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    max-width: 32rem;
    border-radius: 5px;
}

.secao_imagem{
    flex:1;
}

.secao_texto{
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.imagem_conteudo_desktop{
    display: none;
}

.imagem_mobile{
    width: 100%;
    border-radius: 5px 5px 0 0 ;
}

.titulo_conteudo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: .5rem;
    margin-bottom: 1.5em;
    color: var(--fc-titlecontent);
}

.nome_produto{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-bottom: .8rem ;
    color: var(--fc-nameprod);
}

.texto-conteudo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--fc-titlecontent);
}

.valores{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3rem;
}

.valor_com_desconto{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--fc-price-discounted);
    font-size: 3rem;
}

.valor_sem_desconto{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: var(--fc-price-without-discounted);
    font-size: 1.2rem;
    text-decoration: line-through;
}

.botao{
    width: 100%;
}

button{
    width: 100%;
    height: 4rem;
    border: none;
    background-color: var(--bc-button);
    color: var(--fc-button);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.icone_botao{
    width: 1.5rem;
    height: 1.5rem;
}

button:hover{
    background: var(--bc-button-hover);  
}


@media (min-width:700px){
    body{
        height: 100vh;
        align-items: center;
        
    }

    main{
        max-width: 50rem;
        display: flex;
        flex-direction: row;
        gap: 0;    
    }
 
    .imagem_conteudo_mobile{
        display: none;
    }

    .imagem_conteudo_desktop{
        display: inline ;
        width: 100%;
        object-fit: cover;
    }

    .imagem_desktop{
        width: 100%;
        height: 100%;
        border-radius: 5px 0 0 5px;
    }
    
    .secao_imagem{
       width: 100%; 
    }

   
}

